* { 
  box-sizing: border-box; 
  overflow: hidden; 
  margin: 0; 
  padding: 0; 
}

body {
  font-family: sans-serif;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  background: linear-gradient(to right, rgb(18, 194, 233), rgb(196, 113, 237), rgb(246, 79, 89));
}

.calculator {
  height: 320px;
  width: 235px;
  border-radius: 5px;
  text-align: center;
  overflow: hidden;
  margin: auto;
  color: #fff;

  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: 1fr repeat(5, 48px);
};
.span-2 { grid-column: span 2; };
.span-3 { grid-column: span 3; };
